<div>
  <div class="home-container">
    <div class="home-header">
      <header data-thq="thq-navbar" class="home-navbar-interactive">
        <span class="home-logo">Зігрій ❤️ Воїна&nbsp;</span>
        <div data-thq="thq-navbar-nav" class="home-desktop-menu">
          <nav class="home-links">
            <a href="#help" class="home-nav3">Як долучитись?</a>
            <a href="https://t.me/christmas_warm_hearts_chat" rel="nofollow" target="_blank" class="home-nav5">Спільнота</a>
          </nav>
          <div class="home-buttons">
            <a href="https://send.monobank.ua/jar/AXJUwUfrU7" rel="nofollow" target="_blank" class="home-register button">Швидкий донат</a>
            <a href="#letter" type="button" class="home-button button">
              Написати листа
            </a>
          </div>
        </div>
        <div data-thq="thq-burger-menu" class="home-burger-menu">
          <svg viewBox="0 0 1024 1024" class="home-icon">
            <path
              d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path>
          </svg>
        </div>
        <div data-thq="thq-mobile-menu" class="home-mobile-menu">
          <div class="home-nav">
            <div class="home-top">
              <span class="home-logo1">Зігрій ❤️ Воїна&nbsp;</span>
              <div data-thq="thq-close-menu" class="home-close-menu">
                <svg viewBox="0 0 1024 1024" class="home-icon02">
                  <path
                    d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                  ></path>
                </svg>
              </div>
            </div>
            <nav class="home-links1">
              <a href="#help" class="home-nav4">Як я можу допомогти&nbsp;</a>
              <a href="https://t.me/christmas_warm_hearts_chat" rel="nofollow" target="_blank" class="home-nav51">Спільнота</a>
            </nav>
            <div class="home-buttons1">
              <a href="#letter" class="home-register button">Написати листа</a>
              <a href="https://send.monobank.ua/jar/AXJUwUfrU7" rel="nofollow" target="_blank" class="home-button button">Швидкий донат</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="home-details">
      <div class="home-details1">
        <div class="home-container01">
          <div class="home-container02">
            <h2 class="home-details-heading heading2">Мета акції</h2>
            <span class="home-details-sub-heading">
              <span>
                Мета цієї акції полягає в тому, щоб подарувати тепло тим,
                хто стоїть на передовій захищаючи наше життя.
              </span>
              <br />
              <span>
                Наша мета - зібрати листи подяки для воїнів, які висловлять
                наше вдячне ставлення до їх титанічної праці
              </span>
              <span>та нададуть психологічну підтримку.</span>
              <br />
              <br />
              <span>
                Але це не все! Ми також хочемо зібрати маленькі коробочки з
                корисними подарунками,
              </span>
              <br />
              <span>
                які зможуть подарувати нашим воїнам дещо особливе і
                потрібне.
              </span>
              <br />
              <span></span>
            </span>
          </div>
          <a class="big-button top-home-button button" href="#letter">Написати листа</a>
        </div>
        <%= image_tag('home/header.jpg', class: 'home-details-image')%>
      </div>
    </div>
    <div class="home-steps" id="help">
      <h1 class="home-text11">Як я можу допомогти?</h1>
      <span class="home-text12">Будь яка дія допоможе</span>
      <div class="home-container03">
        <div class="home-step">
          <div class="home-container04">
            <div class="home-line"></div>
            <div class="home-container05">
              <svg viewBox="0 0 1024 1024" class="home-icon04">
                <path
                  d="M128 337.963l359.552 251.691c14.507 10.027 33.92 10.496 48.939 0l359.509-251.691v430.037c0 11.605-4.693 22.229-12.587 30.080s-18.475 12.587-30.080 12.587h-682.667c-11.605 0-22.229-4.693-30.080-12.587s-12.587-18.475-12.587-30.080zM42.667 256.512v511.488c0 35.328 14.507 67.371 37.547 90.453s55.125 37.547 90.453 37.547h682.667c35.328 0 67.371-14.507 90.453-37.547s37.547-55.125 37.547-90.453v-511.488c0-0.427 0-0.853 0-1.28-0.213-35.029-14.635-66.773-37.547-89.685-23.083-23.040-55.125-37.547-90.453-37.547h-682.667c-35.328 0-67.371 14.507-90.453 37.547-22.912 22.912-37.333 54.656-37.547 89.728 0 0.213 0 0.469 0 0.725zM891.477 236.971l-379.477 265.6-379.477-265.6c2.048-4.096 4.779-7.808 8.021-11.051 7.893-7.893 18.517-12.587 30.123-12.587h682.667c11.605 0 22.229 4.693 30.080 12.587 3.243 3.243 5.973 6.997 8.021 11.051z"
                ></path>
              </svg>
            </div>
            <div class="home-line1"></div>
          </div>
          <div class="home-container06">
            <h1 class="home-text13">Написати лист підтримки</h1>
            <span class="home-text14">
              <span>Іноді слова підтримки важливіші за все.</span>
              <br />
              <span>
                Написавши лист він гарантовано попаде в руки воїна та зігріє його серце.
              </span>
              <br />
            </span>
          </div>
        </div>
        <div class="home-step1">
          <div class="home-container07">
            <div class="home-line2"></div>
            <div class="home-container08">
              <svg viewBox="0 0 1024 1024" class="home-icon06">
                <path
                  d="M928 128h-832c-52.8 0-96 43.2-96 96v576c0 52.8 43.2 96 96 96h832c52.8 0 96-43.2 96-96v-576c0-52.8-43.2-96-96-96zM96 192h832c17.346 0 32 14.654 32 32v96h-896v-96c0-17.346 14.654-32 32-32zM928 832h-832c-17.346 0-32-14.654-32-32v-288h896v288c0 17.346-14.654 32-32 32zM128 640h64v128h-64zM256 640h64v128h-64zM384 640h64v128h-64z"
                ></path>
              </svg>
            </div>
            <div class="home-line3"></div>
          </div>
          <div class="home-container09">
            <h1 class="home-text19">Зробити донат</h1>
            <span class="home-text20">
              <span>Від слів до діла - один крок.</span>
              <br />
              <span>Ти маєш змогу допомогти у зборі на важливі речі</span>
              <br />
              <span>(хімічні грілки, рукавиці, та інші речі)</span>
              <br />
            </span>
          </div>
        </div>
        <div class="home-step2">
          <div class="home-container10">
            <div class="home-line4"></div>
            <div class="home-container11">
              <svg viewBox="0 0 1024 1024" class="home-icon08">
                <path
                  d="M768 790q28 0 46-19t18-45-18-45-46-19-46 19-18 45 18 45 46 19zM832 406h-106v106h190zM256 790q28 0 46-19t18-45-18-45-46-19-46 19-18 45 18 45 46 19zM854 342l128 170v214h-86q0 52-38 90t-90 38-90-38-38-90h-256q0 52-38 90t-90 38-90-38-38-90h-86v-470q0-34 26-60t60-26h598v172h128z"
                ></path>
              </svg>
            </div>
            <div class="home-line5"></div>
          </div>
          <div class="home-container12">
            <h1 class="home-text27">Закупити самотужки</h1>
            <span class="home-text28">
              <span>Якщо ти маєш змогу закупити партію</span>
              <br />
              <span>
                речей, це також дуже допоможе. Напиши <a href="https://t.me/christmas_warm_hearts_chat" rel="nofollow" target="_blank" class="focus-link">сюди</a> за більш детальною інформацією.
              </span>
              <br />
            </span>
          </div>
        </div>
        <div class="home-step3">
          <div class="home-container13">
            <div class="home-line6"></div>
            <div class="home-container14">
              <svg viewBox="0 0 1024 1024" class="home-icon10">
                <path
                  d="M691.797 772.181c1.067-1.408 2.048-2.859 2.987-4.437 0.853-1.493 1.621-3.029 2.304-4.565 3.115-4.608 6.656-8.917 10.581-12.843 15.488-15.488 36.736-25.003 60.331-25.003s44.843 9.515 60.331 25.003 25.003 36.736 25.003 60.331-9.515 44.843-25.003 60.331-36.736 25.003-60.331 25.003-44.843-9.515-60.331-25.003-25.003-36.736-25.003-60.331c0-13.867 3.285-26.923 9.131-38.485zM695.509 258.389c-0.384-0.725-0.768-1.451-1.195-2.176s-0.853-1.451-1.323-2.133c-6.571-12.075-10.325-25.941-10.325-40.747 0-23.595 9.515-44.843 25.003-60.331s36.736-25.003 60.331-25.003 44.843 9.515 60.331 25.003 25.003 36.736 25.003 60.331-9.515 44.843-25.003 60.331-36.736 25.003-60.331 25.003-44.843-9.515-60.331-25.003c-4.608-4.608-8.704-9.728-12.16-15.275zM328.491 466.944c0.384 0.725 0.768 1.451 1.195 2.176s0.853 1.451 1.323 2.133c6.571 12.075 10.325 25.941 10.325 40.747s-3.755 28.672-10.368 40.789c-0.469 0.683-0.896 1.408-1.323 2.133s-0.811 1.408-1.152 2.133c-3.456 5.547-7.552 10.667-12.16 15.275-15.488 15.488-36.736 25.003-60.331 25.003s-44.843-9.515-60.331-25.003-25.003-36.736-25.003-60.331 9.515-44.843 25.003-60.331 36.736-25.003 60.331-25.003 44.843 9.515 60.331 25.003c4.608 4.608 8.704 9.728 12.16 15.275zM603.733 259.755l-226.475 132.139c-0.171-0.213-0.384-0.384-0.597-0.597-30.805-30.805-73.557-49.963-120.661-49.963s-89.856 19.157-120.661 50.005-50.005 73.557-50.005 120.661 19.157 89.856 50.005 120.661 73.557 50.005 120.661 50.005 89.856-19.157 120.661-50.005c0.213-0.213 0.384-0.384 0.597-0.597l226.517 132.011c-4.181 14.805-6.443 30.464-6.443 46.592 0 47.104 19.157 89.856 50.005 120.661s73.557 50.005 120.661 50.005 89.856-19.157 120.661-50.005 50.005-73.557 50.005-120.661-19.157-89.856-50.005-120.661-73.557-50.005-120.661-50.005-89.856 19.157-120.661 50.005c-0.128 0.128-0.299 0.299-0.427 0.427l-226.645-132.053c4.181-14.763 6.4-30.293 6.4-46.379s-2.219-31.659-6.4-46.421l226.475-132.181c0.171 0.213 0.384 0.384 0.597 0.597 30.805 30.848 73.557 50.005 120.661 50.005s89.856-19.157 120.661-50.005 50.005-73.557 50.005-120.661-19.157-89.856-50.005-120.661-73.557-50.005-120.661-50.005-89.856 19.157-120.661 50.005-50.005 73.557-50.005 120.661c0 16.085 2.219 31.659 6.4 46.421z"
                ></path>
              </svg>
            </div>
            <div class="home-line7"></div>
          </div>
          <div class="home-container15">
            <h1 class="home-text33">Пошерити інформацію</h1>
            <span class="home-text34">
              <span>
                Дуже важливо якщо про цю акцію дізнається як можливо більше людей.
              </span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="home-products">
      <h1 class="home-text37">Що буде закуплено?</h1>
      <span class="home-text38">
        <span>
          Нижче наведені товари, які будуть закуплені та передані разом з листами привітаннями.
        </span>
        <br />
        <span>
          Ви можете самотужки закупити такі речі та відправити нам. Для цього завітай до <a href="https://t.me/christmas_warm_hearts_chat" rel="nofollow" target="_blank" class="focus-link">чату спільноти</a>.
        </span>
      </span>
      <div class="home-container16">
        <a href="https://makitra.ua/ua/termokruzhka-con-brio-364-cb-iz-nerzhaveyushhej-stali" rel="nofollow" target="_blank">
          <%= image_tag('home/p1.jpg', class: 'home-image')%>
        </a>
        <a href="https://turkishammunition.com.ua/tproduct/430959197-837686237421-termoshuzi-termal-mest?fbclid=IwAR0lpopfNQ05TSa3BkSOM7pUoBkYd64hKSNCnXjorZmaJXyfP9gbFBXaNlo_aem_Acy33SckGu-Ff0i-4tg3DNki9J7ZXE33KbiC_tNmIHwV7kWxfC792XP2Rpn6t7IvfGDcrSho5-0NltUZn3rt41XO" rel="nofollow" target="_blank">
          <%= image_tag('home/p3.jpg', class: 'home-image')%>
        </a>
        <a href="https://stockstroy.com/p1752874583-zimovi-taktichni-rukavichki.html" rel="nofollow" target="_blank">
          <%= image_tag('home/p2.jpg', class: 'home-image')%>
        </a>
      </div>
    </div>
    <div class="home-donate">
      <h1 class="home-text42">Зробити донат</h1>
      <span class="home-text43">
        <span>
          Ми збиратимемо ваші листівки та закупимо подарунки, а потім
          відправимо їх тим, кого вони найбільше підтримають.
        </span>
        <br />
        <span>
          Нехай наші воїни відчувають тепло та вдячність, які ми їм
          висловлюємо. Долучайтеся до акції "Зігрій ❤️ Воїна" та станьте
          частиною цієї хвилі добра!
        </span>
      </span>
      <div class="home-btn-group">
        <a href="https://send.monobank.ua/jar/AXJUwUfrU7" rel="nofollow" target="_blank" class="home-button1 button">
          Посилання на банку Моно
        </a>
        <span class="home-text47">або</span>
        <div class="home-button2 button" id="show_pb_number">Реквізити Приват Банку</div>
      </div>
    </div>
    <div class="home-write" id="letter">
      <h1 class="home-text48">Написати листа</h1>
      
      <div class="form-blocks">
        <div id="letter_front_side">
          <%= render "form" %>
        </div>

        <div class="form-wrapper" id="letter_back_side" style="display: none;">
          <div class="response-wrapper">
            <h2>Дякую!</h2>
            <p>Твій лист буде перевірений перед друком та без змін буде доданий до подарунку.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
